@import  "../../App.scss";

.aboutUs{
    h1{
        text-align: center;
        padding-top: 2%;
    }
    p{
        text-align: center;
        width: 35%;
        line-height: 2;
        margin:1% auto;
        font-size: 1.2em;
    }
}