@import  "../../App.scss";


.footer {
    background-color: $primary;
    position: fixed;
    
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding:.5% 2%;
    .fcol{
        padding:0 1%;
        h3{
            color: white !important;
        }
    }
  }

  
@media (max-width: 992px) {

}
@media (max-width: 768px) {


}
@media (max-width: 576px) {
   .footer{
       margin-top: 50%;
       padding:5% 4%;
       .fcol{
           h3{
               font-size: 1em;
           }
       }
   }
}